APP_NAME="Storage"

DB_HOST='localhost'
DB_NAME='storage'
DB_USER='root'
DB_PASSWORD=''

SMTP_SERVER=NULL
SMTP_GMAIL=NULL
SMTP_PORT=NULL
SMTP_PASSWORD=NULL

LENGTH_PASSWORD=8
STORAGES='storages'

TYPES_STORAGE_PRIVATE=1
TYPES_STORAGE_PUBLIC=2
TYPES_STORAGE_CLOSE=3